#anniversary {
  background:
    linear-gradient(
      rgba(white, 0.8),
      rgba(white, 0.8)
    ),
    url("https://www.abhayagiri.org/20/DVD/Photos/Abhayagiri's%2020th%20Anniversary/1%20Preparing/07%20Buddha%20Rupa.jpg");
  background-size: cover;
  p {
    width: 75%;
    margin: auto;
    margin-bottom: 1.5em;
  }
}
